/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Gilles federico Portfolio
Version:  2.1
Autor: Fedegilles / Firefly Studio group

-------------------------------------------------------------------*/

/*------------------------------------------------------------------


[My kind of content]

1.index

-------------------------------------------------------------------*/

