body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 0 40px 0;
  justify-content: space-around;
  font-family: sans-serif;
  align-items: center;
  height: 60px;
  background-color: #FF911A;
}

.main-title {
  margin-right: auto;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: large;
  font-weight: bold;
  font-family: helvetica;
  letter-spacing: 1px;
}

/* Till here navbar */

.head {
  display: flex;
  height: 400px;
  margin: auto;
  background-image: url('../img/fdohead.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.head h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: helvetica;
  letter-spacing: 1px;
  margin: auto;
  text-align: center;
}
