/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Gilles federico Portfolio
Version:  2.0
Autor: Fedegilles

-------------------------------------------------------------------*/

/*------------------------------------------------------------------


[My kind of contents]
[CSS styles in its order of appearance in HTML]
[To search for a specific css style search it in its order of appearance in the HTML file]

1.index

-------------------------------------------------------------------*/



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}


/*==============================*/
/*====== 1.index ======*/
/*==============================*/

#signature {
  width: 70%;
  margin: auto;
  margin-top: 12%;
  display: block;
  opacity: 0;
  animation: signature 6s ;  
}

@keyframes signature {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  margin-top: -300px;
  opacity: 0;
  animation: name 5s;
  animation-delay: 7s;
}

@keyframes name {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  margin-top: -70px;
  opacity: 0;
  animation: prox 4s;
  animation-delay: 13s;
}

@keyframes prox {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mavenfont {
  font-family: 'Maven Pro', sans-serif;
  font-weight: lighter;
}