body {
  margin: auto;
  font-style: helvetica;
}

/* Till here navbar */

.head {
  display: flex;
  height: 500px;
  margin: auto;
  background-image: url('../img/fdohead.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.head h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: helvetica;
  letter-spacing: 1px;
  margin: auto;
  text-align: center;
}

/*Till here header*/

section {
  padding: 60px 0;
}

.imgperfil {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

section h2.section-heading {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: justify;
}

section h4.service-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: lighter;
  text-align: justify;
  color: #4f4f4f;
}

section p.text-muted {
  font-size: 18px;
  text-align: justify;
  color: #848484;
  line-height: 30px;
}

.destacado {
  color: #d15700;
  letter-spacing: 1.25px
}

/*Till here sobre mí*/

.conocimientos {
  margin-top: 15px;
  background-color: #eff2f4;
}

.conocimientos h2.conoci {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #4f4f4f;
}

.load {
  border: 3px solid #d15700;
  width: 205px;
  height: 20px;
}

.skill {
  background-color: #d15700;
  width: 4px;
  height: 16px;
  transition: all 2s ease-out;
}

p {
  margin: 5px;
  font-size: 20px;
}

.skill:hover {
  transition: all 2s ease;
  background-color: #d15700;
  width: 200px;
  height: 16px;
}
/*Till here conocimientos*/

.intereses {
  padding: inherit;
  height: 300px;
  background-image: url("../img/red1.png");
  background-attachment: fixed;
  background-position: bottom;
}

.intereses h2.interes {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #4f4f4f;
}

.iconos {
  margin: auto;
  background: #d15700;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/*Till here interes*/

.portfolio h2.portfolio {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #4f4f4f;
}

.ptf {
  margin: auto;
  margin-bottom: 5px;
  background: #d15700;
  height: 230px;
  width: 350px;
}

/*Till here portfolio*/

.videos {
  background-color: #eff2f4;
}

.videos h2.videos {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #4f4f4f;
}

.videos h3.titulos {
  margin-bottom: 10px;
}
