@import "components/variables";
@import "components/colors";
@import "components/text";
@import "components/icons";

.profile-pic {
    width: 80px;
    
    margin-bottom: 25px;
}

@media screen and (min-width:768px) {
    .profile-pic {
        width: 100%;
        max-width: 400px;

        margin-bottom: 0;
    }
}