// Main styles

// ========================================
// Home - Main styles
// ========================================

.main {
  padding: 50px;

  @media only screen and (min-width: 768px) {
    padding: 100px 50px;
  }

  @media only screen and (min-width: 1024px) {
  }

  @media only screen and (min-width: 1900px) {
    width: 60vw;
    margin: auto;
  }

  .m-section {
    // Estilos para las secciones del main
    padding: 50px 0;

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1024px) {
    }
  }

  .m-intro {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 25px;

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1024px) {
    }

    .mi-copy {

      @media only screen and (min-width: 768px) {
        grid-row: 1;
        grid-column: 1 / 4;
        z-index: 3;
      }

      h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.5em;
        font-weight: 400;
        color: #fff;
        margin: 10px 0;

        @media only screen and (min-width: 768px) {
          font-size: 5.5em;
        }

        @media only screen and (min-width: 1024px) {
          font-size: 6em;
        }

        @media only screen and (min-width: 1900px) {
          font-size: 8em;
        }
      }
    }

    .mi-img {
      max-width: 100%;
      height: 300px;
      // Solo para darle cuerpo a la "img" (en este caso es un div), luego cuando se cambie por una img se le dara tamaño

      @media only screen and (min-width: 768px) {
        grid-row: 1;
        grid-column: 2 / 4;
        // Si son imgs intercambiables tendran un div con tamaño y de ahi se modificara
        height: 100%;
      }

      .img {
        background-color: #ccc;
        width: 100%;
        height: 100%;

        @media only screen and (min-width: 1024px) {
          margin: auto;
          width: 80%;
        }

        @media only screen and (min-width: 1900px) {
          width: 70%;
        }
      }
    }
  }
}
