// Main styles

// ========================================
// Home - Main styles
// ========================================

.main {
  padding: 50px;

  @media only screen and (min-width: 768px) {
    padding: 100px 50px;
  }

  @media only screen and (min-width: 1440px) {
    width: 80vw;
    margin: auto;
  }

  @media only screen and (min-width: 1900px) {
    width: 60vw;
    margin: auto;
  }

  .m-section {
    // Estilos para las secciones del main
    padding: 50px 0;

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1024px) {
      padding: 100px 0;
    }
  }

  .m-intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;

    @media only screen and (min-width: 500px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }

    @media only screen and (min-width: 1024px) {
    }

    .mi-copy {
      grid-column: 1;
      grid-row: 1 / 4;
      z-index: 3;

      @media only screen and (min-width: 500px) {
        grid-row: 1;
        grid-column: 1 / 4;
      }

      h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.4em;
        font-weight: 400;
        color: #fff;
        margin: 10px 0;

        @media only screen and (min-width: 360px) {
          font-size: 3em;
        }

        @media only screen and (min-width: 768px) {
          font-size: 5.5em;
        }

        @media only screen and (min-width: 1024px) {
          font-size: 7em;
        }

        @media only screen and (min-width: 1900px) {
          font-size: 8em;
        }
      }
    }

    .mi-img {
      width: 100%;
      grid-column: 1;
      grid-row: 2 / 4;

      @media only screen and (min-width: 500px) {
        grid-row: 1;
        grid-column: 2 / 4;
      }
    }
  }
  // Fin seccion m-intro

  .m-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 25px;
    }

    .ma-img {
      width: 100%;
      grid-column: 1;
      grid-row: 2;

      @media only screen and (min-width: 1024px) {
        grid-column: 1;
        grid-row: 1;
      }
    }

    .ma-copy {
      grid-column: 1;
      grid-row: 1;
      height: auto;

      @media only screen and (min-width: 1024px) {
        grid-column: 2;
        grid-row: 1;
      }

      @media only screen and (min-width: 1024px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      h3 {
        color: #fff;
        @include subtittle();
        font-size: 2.5em;
        font-weight: 700;

        @media only screen and (min-width: 1024px) {
          font-size: 3em;
        }
      }

      p {
        color: #fff;
        margin: 0;
        @include text();

        @media only screen and (min-width: 1024px) {
          max-width: 80%;
        }

        @media only screen and (min-width: 1900px) {
          font-size: 1.5em;
        }
      }
    }
  }
  //Fin seccion m-about

  .m-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      color: #fff;
      @include subtittle();
      font-size: 2.5em;
      font-weight: 700;
      margin: 0;

      @media only screen and (min-width: 1024px) {
        font-size: 3em;
      }
    }

    p {
      color: #fff;
      @include text();
    }

    .mc-social {
      width: 150px;
      padding: 20px 20px 50px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        color: #fff;

        i {
          font-size: 2em;
        }
      }
    }

    .mc-contact {
      color: #fff;
      padding: 10px;
      @include text();
      font-size: 1.5em;
      font-weight: 700;
      border: solid 3px #fff;
      transition: .5s ease-out;
    }
  }

  .mc-contact:hover {
    color: #000;
    background-color: #fff;
  }
}
