// Icons styles

.icons {
    background-color: $primary-main;
    padding: 6px;
    border-radius: 4px;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

svg {
    transition: all .3s ease;
}

svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}